# Classification Exercise

We'll be working with some California Census Data, we'll be trying to use various features of an individual to predict what class of income they belogn in (>50k or <=50k). 

Here is some information about the data:

<table>
<thead>
<tr>
<th>Column Name</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>age</td>
<td>Continuous</td>
<td>The age of the individual</td>
</tr>
<tr>
<td>workclass</td>
<td>Categorical</td>
<td>The type of employer the  individual has (government,  military, private, etc.).</td>
</tr>
<tr>
<td>fnlwgt</td>
<td>Continuous</td>
<td>The number of people the census  takers believe that observation  represents (sample weight). This  variable will not be used.</td>
</tr>
<tr>
<td>education</td>
<td>Categorical</td>
<td>The highest level of education  achieved for that individual.</td>
</tr>
<tr>
<td>education_num</td>
<td>Continuous</td>
<td>The highest level of education in  numerical form.</td>
</tr>
<tr>
<td>marital_status</td>
<td>Categorical</td>
<td>Marital status of the individual.</td>
</tr>
<tr>
<td>occupation</td>
<td>Categorical</td>
<td>The occupation of the individual.</td>
</tr>
<tr>
<td>relationship</td>
<td>Categorical</td>
<td>Wife, Own-child, Husband,  Not-in-family, Other-relative,  Unmarried.</td>
</tr>
<tr>
<td>race</td>
<td>Categorical</td>
<td>White, Asian-Pac-Islander,  Amer-Indian-Eskimo, Other, Black.</td>
</tr>
<tr>
<td>gender</td>
<td>Categorical</td>
<td>Female, Male.</td>
</tr>
<tr>
<td>capital_gain</td>
<td>Continuous</td>
<td>Capital gains recorded.</td>
</tr>
<tr>
<td>capital_loss</td>
<td>Continuous</td>
<td>Capital Losses recorded.</td>
</tr>
<tr>
<td>hours_per_week</td>
<td>Continuous</td>
<td>Hours worked per week.</td>
</tr>
<tr>
<td>native_country</td>
<td>Categorical</td>
<td>Country of origin of the  individual.</td>
</tr>
<tr>
<td>income</td>
<td>Categorical</td>
<td>"&gt;50K" or "&lt;=50K", meaning  whether the person makes more  than \$50,000 annually.</td>
</tr>
</tbody>
</table>

## Follow the Directions in Bold. If you get stuck, check out the solutions lecture.

### THE DATA

** Read in the census_data.csv data with pandas**

In [1]:
import pandas as pd

In [2]:
census_data = pd.read_csv("../sample_data/census_data.csv")

In [3]:
census_data.head()

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_bracket
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

** TensorFlow won't be able to understand strings as labels, you'll need to use pandas .apply() method to apply a custom function that converts them to 0s and 1s. This might be hard if you aren't very familiar with pandas, so feel free to take a peek at the solutions for this part.**

** Convert the Label column to 0s and 1s instead of strings.**

In [4]:
census_data['income_bracket'] = census_data['income_bracket'].apply(
    lambda x: 0 if x == ' <=50K' else 1
)

In [5]:
census_data.head()

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_bracket
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,0
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0

In [6]:
x_features = census_data.drop('income_bracket', axis=1)

In [7]:
y_label = census_data['income_bracket']

### Perform a Train Test Split on the Data

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
X_train, X_test, y_train, y_test = train_test_split(x_features, y_label)

### Create the Feature Columns for tf.esitmator

** Take note of categorical vs continuous values! **

In [10]:
x_features.head()

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba

** Import Tensorflow **

In [11]:
import tensorflow as tf

** Create the tf.feature_columns for the categorical values. Use vocabulary lists or just use hash buckets. **

In [12]:
workclass = tf.feature_column.categorical_column_with_hash_bucket('workclass', hash_bucket_size=500)
education = tf.feature_column.categorical_column_with_hash_bucket('education', hash_bucket_size=500)
marital_status = tf.feature_column.categorical_column_with_hash_bucket('marital_status', hash_bucket_size=500)
occupation = tf.feature_column.categorical_column_with_hash_bucket('occupation', hash_bucket_size=500)
relationship = tf.feature_column.categorical_column_with_hash_bucket('relationship', hash_bucket_size=500)
race = tf.feature_column.categorical_column_with_hash_bucket('race', hash_bucket_size=500)
gender = tf.feature_column.categorical_column_with_hash_bucket('gender', hash_bucket_size=500)
native_country = tf.feature_column.categorical_column_with_hash_bucket('native_country', hash_bucket_size=500)

** Create the continuous feature_columns for the continuous values using numeric_column **

In [13]:
age = tf.feature_column.numeric_column('age')
education_num = tf.feature_column.numeric_column('education_num')
capital_gain = tf.feature_column.numeric_column('capital_gain')
capital_loss = tf.feature_column.numeric_column('capital_loss')
hours_per_week = tf.feature_column.numeric_column('hours_per_week')

** Put all these variables into a single list with the variable name feat_cols **

In [14]:
feat_cols = [
    workclass,
    education,
    marital_status,
    occupation,
    relationship,
    race,
    gender,
    native_country,
    age,
    education_num,
    capital_gain,
    capital_loss,
    hours_per_week
]

### Create Input Function

** Batch_size is up to you. But do make sure to shuffle!**

In [15]:
training_input_fn = tf.estimator.inputs.pandas_input_fn(
    X_train,
    y_train,
    batch_size=150,
    num_epochs=1000,
    shuffle=True
)

#### Create your model with tf.estimator

**Create a LinearClassifier.(If you want to use a DNNClassifier, keep in mind you'll need to create embedded columns out of the cateogrical feature that use strings, check out the previous lecture on this for more info.)**

In [16]:
model = tf.estimator.LinearClassifier(
    feature_columns=feat_cols,
    n_classes=2
)

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: /var/folders/rg/qlb5htps7fg440bjyl_5vztc0000gn/T/tmp0fe51utp
INFO:tensorflow:Using config: {'_model_dir': '/var/folders/rg/qlb5htps7fg440bjyl_5vztc0000gn/T/tmp0fe51utp', '_tf_random_seed': None, '_save_summary_steps': 100, '_save_checkpoints_steps': None, '_save_checkpoints_secs': 600, '_session_config': allow_soft_placement: true
graph_options {
  rewrite_options {
    meta_optimizer_iterations: ONE
  }
}
, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100, '_train_distribute': None, '_device_fn': None, '_protocol': None, '_eval_distribute': None, '_experimental_distribute': None, '_service': None, '_cluster_spec': <tensorflow.python.training.server_lib.ClusterSpec object at 0x12e295630>, '_task_type': 'worker', '_task_id': 0, '_global_id_in_cluster': 0, '_master': '', '_evaluation_master': '', '_is_chief': True, '_num_ps_replicas': 0, '_num_worker_replicas': 1}

** Train your model on the data, for at least 5000 steps. **

In [17]:
model.train(training_input_fn, steps=10000)

WARNING:tensorflow:From /Users/phil/.local/share/virtualenvs/neural_networks-7dtejGdV/lib/python3.6/site-packages/tensorflow/python/framework/op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.
WARNING:tensorflow:From /Users/phil/.local/share/virtualenvs/neural_networks-7dtejGdV/lib/python3.6/site-packages/tensorflow_estimator/python/estimator/inputs/queues/feeding_queue_runner.py:62: QueueRunner.__init__ (from tensorflow.python.training.queue_runner_impl) is deprecated and will be removed in a future version.
Instructions for updating:
To construct input pipelines, use the `tf.data` module.
WARNING:tensorflow:From /Users/phil/.local/share/virtualenvs/neural_networks-7dtejGdV/lib/python3.6/site-packages/tensorflow_estimator/python/estimator/inputs/queues/feeding_functions.py:500: add_queue_runner (from tensorflow.python.training.queue_runner_impl) is deprecated and will be removed in a future version.
Instructions for updating:
To construct input pipelines, use the `tf.data` module.
INFO:tensorflow:Calling model_fn.
WARNING:tensorflow:From /Users/phil/.local/share/virtualenvs/neural_networks-7dtejGdV/lib/python3.6/site-packages/tensorflow/python/feature_column/feature_column_v2.py:2703: to_float (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
WARNING:tensorflow:From /Users/phil/.local/share/virtualenvs/neural_networks-7dtejGdV/lib/python3.6/site-packages/tensorflow/python/training/monitored_session.py:809: start_queue_runners (from tensorflow.python.training.queue_runner_impl) is deprecated and will be removed in a future version.
Instructions for updating:
To construct input pipelines, use the `tf.data` module.
INFO:tensorflow:Saving checkpoints for 0 into /var/folders/rg/qlb5htps7fg440bjyl_5vztc0000gn/T/tmp0fe51utp/model.ckpt.
INFO:tensorflow:loss = 103.9721, step = 1
INFO:tensorflow:global_step/sec: 144.994
INFO:tensorflow:loss = 364.69693, step = 101 (0.693 sec)
INFO:tensorflow:global_step/sec: 272.311
INFO:tensorflow:loss = 273.15536, step = 201 (0.366 sec)
INFO:tensorflow:global_step/sec: 256.945
INFO:tensorflow:loss = 485.07968, step = 301 (0.388 sec)
INFO:tensorflow:global_step/sec: 252.189
INFO:tensorflow:loss = 196.00946, step = 401 (0.397 sec)
INFO:tensorflow:global_step/sec: 283.496
INFO:tensorflow:loss = 159.26112, step = 501 (0.354 sec)
INFO:tensorflow:global_step/sec: 244.709
INFO:tensorflow:loss = 74.97204, step = 601 (0.407 sec)
INFO:tensorflow:global_step/sec: 236.34
INFO:tensorflow:loss = 46.38848, step = 701 (0.423 sec)
INFO:tensorflow:global_step/sec: 237.414
INFO:tensorflow:loss = 144.39896, step = 801 (0.421 sec)
INFO:tensorflow:global_step/sec: 267.32
INFO:tensorflow:loss = 151.96468, step = 901 (0.375 sec)
INFO:tensorflow:global_step/sec: 286.595
INFO:tensorflow:loss = 416.50146, step = 1001 (0.349 sec)
INFO:tensorflow:global_step/sec: 266.961
INFO:tensorflow:loss = 412.9635, step = 1101 (0.373 sec)
INFO:tensorflow:global_step/sec: 236.704
INFO:tensorflow:loss = 139.32965, step = 1201 (0.422 sec)
INFO:tensorflow:global_step/sec: 261.471
INFO:tensorflow:loss = 220.69325, step = 1301 (0.382 sec)
INFO:tensorflow:global_step/sec: 269.097
INFO:tensorflow:loss = 95.508896, step = 1401 (0.374 sec)
INFO:tensorflow:global_step/sec: 270.698
INFO:tensorflow:loss = 89.11071, step = 1501 (0.369 sec)
INFO:tensorflow:global_step/sec: 260.113
INFO:tensorflow:loss = 297.31165, step = 1601 (0.382 sec)
INFO:tensorflow:global_step/sec: 241.407
INFO:tensorflow:loss = 51.132656, step = 1701 (0.416 sec)
INFO:tensorflow:global_step/sec: 261.509
INFO:tensorflow:loss = 276.60022, step = 1801 (0.381 sec)
INFO:tensorflow:global_step/sec: 269.178
INFO:tensorflow:loss = 108.26147, step = 1901 (0.371 sec)
INFO:tensorflow:global_step/sec: 261.389
INFO:tensorflow:loss = 80.7448, step = 2001 (0.385 sec)
INFO:tensorflow:global_step/sec: 279.651
INFO:tensorflow:loss = 177.3665, step = 2101 (0.357 sec)
INFO:tensorflow:global_step/sec: 245.041
INFO:tensorflow:loss = 45.952145, step = 2201 (0.407 sec)
INFO:tensorflow:global_step/sec: 266.906
INFO:tensorflow:loss = 79.655, step = 2301 (0.376 sec)
INFO:tensorflow:global_step/sec: 255.857
INFO:tensorflow:loss = 58.825275, step = 2401 (0.391 sec)
INFO:tensorflow:global_step/sec: 262.385
INFO:tensorflow:loss = 468.9804, step = 2501 (0.382 sec)
INFO:tensorflow:global_step/sec: 277.371
INFO:tensorflow:loss = 549.1505, step = 2601 (0.358 sec)
INFO:tensorflow:global_step/sec: 253.114
INFO:tensorflow:loss = 100.42082, step = 2701 (0.396 sec)
INFO:tensorflow:global_step/sec: 269.824
INFO:tensorflow:loss = 262.41846, step = 2801 (0.371 sec)
INFO:tensorflow:global_step/sec: 240.691
INFO:tensorflow:loss = 55.564472, step = 2901 (0.417 sec)
INFO:tensorflow:global_step/sec: 260.39
INFO:tensorflow:loss = 102.668976, step = 3001 (0.383 sec)
INFO:tensorflow:global_step/sec: 257.964
INFO:tensorflow:loss = 63.052494, step = 3101 (0.386 sec)
INFO:tensorflow:global_step/sec: 248.499
INFO:tensorflow:loss = 71.591385, step = 3201 (0.406 sec)
INFO:tensorflow:global_step/sec: 273.765
INFO:tensorflow:loss = 53.56965, step = 3301 (0.362 sec)
INFO:tensorflow:global_step/sec: 265.173
INFO:tensorflow:loss = 86.763916, step = 3401 (0.378 sec)
INFO:tensorflow:global_step/sec: 250.245
INFO:tensorflow:loss = 46.236443, step = 3501 (0.398 sec)
INFO:tensorflow:global_step/sec: 269.241
INFO:tensorflow:loss = 114.12173, step = 3601 (0.371 sec)
INFO:tensorflow:global_step/sec: 263.804
INFO:tensorflow:loss = 64.747925, step = 3701 (0.382 sec)
INFO:tensorflow:global_step/sec: 233.033
INFO:tensorflow:loss = 133.42928, step = 3801 (0.426 sec)
INFO:tensorflow:global_step/sec: 264.821
INFO:tensorflow:loss = 47.835392, step = 3901 (0.378 sec)
INFO:tensorflow:global_step/sec: 245.703
INFO:tensorflow:loss = 152.79419, step = 4001 (0.407 sec)
INFO:tensorflow:global_step/sec: 277.645
INFO:tensorflow:loss = 93.33931, step = 4101 (0.363 sec)
INFO:tensorflow:global_step/sec: 269.183
INFO:tensorflow:loss = 36.769516, step = 4201 (0.369 sec)
INFO:tensorflow:global_step/sec: 259.707
INFO:tensorflow:loss = 99.76845, step = 4301 (0.386 sec)
INFO:tensorflow:global_step/sec: 264.061
INFO:tensorflow:loss = 47.506844, step = 4401 (0.378 sec)
INFO:tensorflow:global_step/sec: 264.573
INFO:tensorflow:loss = 93.58299, step = 4501 (0.378 sec)
INFO:tensorflow:global_step/sec: 248.309
INFO:tensorflow:loss = 62.101772, step = 4601 (0.404 sec)
INFO:tensorflow:global_step/sec: 260.237
INFO:tensorflow:loss = 116.52814, step = 4701 (0.384 sec)
INFO:tensorflow:global_step/sec: 255.437
INFO:tensorflow:loss = 60.700253, step = 4801 (0.391 sec)
INFO:tensorflow:global_step/sec: 268.83
INFO:tensorflow:loss = 99.0712, step = 4901 (0.372 sec)
INFO:tensorflow:global_step/sec: 255.517
INFO:tensorflow:loss = 64.16512, step = 5001 (0.393 sec)
INFO:tensorflow:global_step/sec: 273.279
INFO:tensorflow:loss = 81.37094, step = 5101 (0.366 sec)
INFO:tensorflow:global_step/sec: 294.714
INFO:tensorflow:loss = 45.109722, step = 5201 (0.338 sec)
INFO:tensorflow:global_step/sec: 275.326
INFO:tensorflow:loss = 53.205387, step = 5301 (0.365 sec)
INFO:tensorflow:global_step/sec: 275.456
INFO:tensorflow:loss = 111.10019, step = 5401 (0.363 sec)
INFO:tensorflow:global_step/sec: 277.591
INFO:tensorflow:loss = 56.494453, step = 5501 (0.359 sec)
INFO:tensorflow:global_step/sec: 269.874
INFO:tensorflow:loss = 246.11768, step = 5601 (0.373 sec)
INFO:tensorflow:global_step/sec: 277.256
INFO:tensorflow:loss = 53.854996, step = 5701 (0.358 sec)
INFO:tensorflow:global_step/sec: 280.117
INFO:tensorflow:loss = 59.79531, step = 5801 (0.358 sec)
INFO:tensorflow:global_step/sec: 244.558
INFO:tensorflow:loss = 70.93828, step = 5901 (0.408 sec)
INFO:tensorflow:global_step/sec: 273.797
INFO:tensorflow:loss = 213.91843, step = 6001 (0.366 sec)
INFO:tensorflow:global_step/sec: 269.833

INFO:tensorflow:loss = 51.78984, step = 6101 (0.371 sec)
INFO:tensorflow:global_step/sec: 272.484
INFO:tensorflow:loss = 149.35916, step = 6201 (0.365 sec)
INFO:tensorflow:global_step/sec: 284.448
INFO:tensorflow:loss = 74.27126, step = 6301 (0.354 sec)
INFO:tensorflow:global_step/sec: 263.557
INFO:tensorflow:loss = 68.69621, step = 6401 (0.377 sec)
INFO:tensorflow:global_step/sec: 252.379
INFO:tensorflow:loss = 77.45323, step = 6501 (0.397 sec)
INFO:tensorflow:global_step/sec: 270.85
INFO:tensorflow:loss = 60.631523, step = 6601 (0.369 sec)
INFO:tensorflow:global_step/sec: 246.683
INFO:tensorflow:loss = 47.23418, step = 6701 (0.405 sec)
INFO:tensorflow:global_step/sec: 250.228
INFO:tensorflow:loss = 77.6514, step = 6801 (0.399 sec)
INFO:tensorflow:global_step/sec: 268.713
INFO:tensorflow:loss = 33.54296, step = 6901 (0.372 sec)
INFO:tensorflow:global_step/sec: 277.013
INFO:tensorflow:loss = 70.860435, step = 7001 (0.361 sec)
INFO:tensorflow:global_step/sec: 281.903
INFO:tensorflow:loss = 86.89827, step = 7101 (0.357 sec)
INFO:tensorflow:global_step/sec: 273.822
INFO:tensorflow:loss = 142.08116, step = 7201 (0.363 sec)
INFO:tensorflow:global_step/sec: 282.041
INFO:tensorflow:loss = 142.4692, step = 7301 (0.356 sec)
INFO:tensorflow:global_step/sec: 257.63
INFO:tensorflow:loss = 59.055912, step = 7401 (0.387 sec)
INFO:tensorflow:global_step/sec: 200.512
INFO:tensorflow:loss = 43.50801, step = 7501 (0.499 sec)
INFO:tensorflow:global_step/sec: 221.904
INFO:tensorflow:loss = 51.67328, step = 7601 (0.452 sec)
INFO:tensorflow:global_step/sec: 243.999
INFO:tensorflow:loss = 60.852615, step = 7701 (0.408 sec)
INFO:tensorflow:global_step/sec: 234.412
INFO:tensorflow:loss = 116.554474, step = 7801 (0.428 sec)
INFO:tensorflow:global_step/sec: 177.653
INFO:tensorflow:loss = 89.26497, step = 7901 (0.565 sec)
INFO:tensorflow:global_step/sec: 228.052
INFO:tensorflow:loss = 54.601295, step = 8001 (0.435 sec)
INFO:tensorflow:global_step/sec: 214.285
INFO:tensorflow:loss = 58.555534, step = 8101 (0.467 sec)
INFO:tensorflow:global_step/sec: 109.608
INFO:tensorflow:loss = 122.90404, step = 8201 (0.919 sec)
INFO:tensorflow:global_step/sec: 250.817
INFO:tensorflow:loss = 69.95195, step = 8301 (0.392 sec)
INFO:tensorflow:global_step/sec: 219.21
INFO:tensorflow:loss = 89.24488, step = 8401 (0.458 sec)
INFO:tensorflow:global_step/sec: 225.01
INFO:tensorflow:loss = 99.171555, step = 8501 (0.442 sec)
INFO:tensorflow:global_step/sec: 148.333
INFO:tensorflow:loss = 44.1867, step = 8601 (0.676 sec)
INFO:tensorflow:global_step/sec: 217.76
INFO:tensorflow:loss = 48.672325, step = 8701 (0.458 sec)
INFO:tensorflow:global_step/sec: 223.98
INFO:tensorflow:loss = 81.03898, step = 8801 (0.446 sec)
INFO:tensorflow:global_step/sec: 241.063
INFO:tensorflow:loss = 44.79827, step = 8901 (0.414 sec)
INFO:tensorflow:global_step/sec: 247.538
INFO:tensorflow:loss = 51.22359, step = 9001 (0.404 sec)
INFO:tensorflow:global_step/sec: 248.142
INFO:tensorflow:loss = 90.27949, step = 9101 (0.403 sec)
INFO:tensorflow:global_step/sec: 249.64
INFO:tensorflow:loss = 43.084045, step = 9201 (0.402 sec)
INFO:tensorflow:global_step/sec: 268.671
INFO:tensorflow:loss = 58.708668, step = 9301 (0.373 sec)
INFO:tensorflow:global_step/sec: 267.193
INFO:tensorflow:loss = 48.39156, step = 9401 (0.372 sec)
INFO:tensorflow:global_step/sec: 275.806
INFO:tensorflow:loss = 143.22285, step = 9501 (0.369 sec)
INFO:tensorflow:global_step/sec: 184.617
INFO:tensorflow:loss = 82.219505, step = 9601 (0.539 sec)
INFO:tensorflow:global_step/sec: 240.217
INFO:tensorflow:loss = 52.551384, step = 9701 (0.414 sec)
INFO:tensorflow:global_step/sec: 247.41
INFO:tensorflow:loss = 124.81301, step = 9801 (0.403 sec)
INFO:tensorflow:global_step/sec: 228.603
INFO:tensorflow:loss = 141.29826, step = 9901 (0.437 sec)
INFO:tensorflow:Saving checkpoints for 10000 into /var/folders/rg/qlb5htps7fg440bjyl_5vztc0000gn/T/tmp0fe51utp/model.ckpt.
INFO:tensorflow:Loss for final step: 57.34471.

### Evaluation

** Create a prediction input function. Remember to only supprt X_test data and keep shuffle=False. **

In [18]:
eval_fn = tf.estimator.inputs.pandas_input_fn(
    X_test,
    batch_size=100,
    shuffle=False
)

In [19]:
training_eval_fn = tf.estimator.inputs.pandas_input_fn(
    X_train,
    batch_size=100,
    shuffle=False
)

** Use model.predict() and pass in your input function. This will produce a generator of predictions, which you can then transform into a list, with list() **

In [20]:
y_pred = [prediction['class_ids'][0] for prediction in model.predict(eval_fn)]

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Graph was finalized.
WARNING:tensorflow:From /Users/phil/.local/share/virtualenvs/neural_networks-7dtejGdV/lib/python3.6/site-packages/tensorflow/python/training/saver.py:1266: checkpoint_exists (from tensorflow.python.training.checkpoint_management) is deprecated and will be removed in a future version.
Instructions for updating:
Use standard file APIs to check for files with this prefix.
INFO:tensorflow:Restoring parameters from /var/folders/rg/qlb5htps7fg440bjyl_5vztc0000gn/T/tmp0fe51utp/model.ckpt-10000
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.

In [21]:
y_training_pred = [prediction['class_ids'][0] for prediction in model.predict(training_eval_fn)]

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Restoring parameters from /var/folders/rg/qlb5htps7fg440bjyl_5vztc0000gn/T/tmp0fe51utp/model.ckpt-10000
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.

** Each item in your list will look like this: **

** Create a list of only the class_ids key values from the prediction list of dictionaries, these are the predictions you will use to compare against the real y_test values. **

** Import classification_report from sklearn.metrics and then see if you can figure out how to use it to easily get a full report of your model's performance on the test data. **

In [22]:
from sklearn.metrics import classification_report

In [23]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.88      0.93      0.90      6208
           1       0.72      0.59      0.65      1933

   micro avg       0.85      0.85      0.85      8141
   macro avg       0.80      0.76      0.78      8141
weighted avg       0.84      0.85      0.84      8141

In [24]:
print(classification_report(y_train, y_training_pred))

              precision    recall  f1-score   support

           0       0.87      0.94      0.90     18512
           1       0.75      0.57      0.65      5908

   micro avg       0.85      0.85      0.85     24420
   macro avg       0.81      0.75      0.78     24420
weighted avg       0.84      0.85      0.84     24420

Not overfitting, b/c our training data comes back with around the same precision as our testing data :)