In [40]:
import tensorflow as tf
import numpy as np
from pandas import DataFrame as df

In [2]:
print(tf.__version__)

1.13.1

In [3]:
hello = tf.constant("Hello ")
world = tf.constant("World.")

In [4]:
hello

In [5]:
hello.get_shape()

TensorShape([])

In [6]:
with tf.Session() as sess:
    result = sess.run(hello + world)

In [7]:
result

b'Hello World.'

In [8]:
a = tf.constant(5)
b = tf. constant(10)

In [9]:
c = a + b

In [10]:
c

In [11]:
with tf.Session() as sess:
    result = sess.run(c)

result

15

In [14]:
const = tf.constant(10)
ten_mat = tf.fill((4,4), 10)
zero_mat = tf.zeros((4,4))
one_mat = tf.ones((4,4))
randn_mat = tf.random_normal((4,4))
randu_mat = tf.random_uniform((4,4))

my_tensors = [const, ten_mat, zero_mat, one_mat, randn_mat, randu_mat]

with tf.Session() as sess:
    for tensor in my_tensors:
        print(tensor.eval(), "\n")

10

[[10 10 10 10]
 [10 10 10 10]
 [10 10 10 10]
 [10 10 10 10]]

[[0. 0. 0. 0.]
 [0. 0. 0. 0.]
 [0. 0. 0. 0.]
 [0. 0. 0. 0.]]

[[1. 1. 1. 1.]
 [1. 1. 1. 1.]
 [1. 1. 1. 1.]
 [1. 1. 1. 1.]]

[[-0.8562246  -0.79989845  0.70027834  0.17406832]
 [ 0.29805487 -0.6429274  -0.19826026  0.21910043]
 [-0.16508763 -1.2197477   0.76835996  1.7097979 ]
 [ 1.228842   -0.6644704   1.0282141  -0.20628646]]

[[0.58626544 0.6397538  0.7589133  0.38334012]
 [0.6335207  0.09783804 0.1939435  0.4021697 ]
 [0.68273747 0.7204391  0.11716366 0.9014977 ]
 [0.23645139 0.8255372  0.5526786  0.6118269 ]]

In [15]:
a = tf.constant([[1,2],
                 [3,4]])
a.get_shape()

TensorShape([Dimension(2), Dimension(2)])

In [16]:
b = tf.constant([[10],
                 [100]])
b.get_shape()

TensorShape([Dimension(2), Dimension(1)])

In [22]:
result = tf.matmul(a, b)
with tf.Session() as sess:
    print(sess.run(result))

[[210]
 [430]]

In [23]:
graph = tf.get_default_graph()

In [24]:
graph

In [25]:
graph.collections

[]

In [27]:
graph.get_all_collection_keys()

[]

In [33]:
my_tensor = tf.random_uniform((4,4), 0, 1)
my_var = tf.Variable(initial_value=my_tensor)
init = tf.global_variables_initializer()

with tf.Session() as sess:
    sess.run(init)
    result = sess.run(my_var)

In [41]:
df(result)

          0         1         2         3
0  0.850794  0.448875  0.537229  0.473592
1  0.485836  0.833780  0.320229  0.459020
2  0.879267  0.206010  0.236075  0.667521
3  0.772872  0.808640  0.990102  0.178745

In [45]:
np.random.seed(101)
tf.set_random_seed(101)

In [46]:
rand_a = np.random.uniform(0,100,(5,5))
df(rand_a)

           0          1          2          3          4
0  51.639863  57.066759   2.847423  17.152166  68.527698
1  83.389686  30.696622  89.361308  72.154386  18.993895
2  55.422759  35.213195  18.189240  78.560176  96.548322
3  23.235366   8.356143  60.354842  72.899276  27.623883
4  68.530633  51.786747   4.848454  13.786924  18.696743

In [49]:
rand_b = np.random.uniform(0,100,(5,1))
df(rand_b)

           0
0  34.363158
1  86.509982
2  83.027771
3  53.816145
4  92.246937